<h1> Upcoming Appointments </h1>


    
<% if @appointments %>
  <% @appointments.each do |appointment| %>
    <%= appointment.hairdresser.name %>
    <p><%= link_to "Your appointment", appointment_path(appointment) %></p>
    <%end%>
<%end%>

