<h1> Upcoming Appointments </h1>




<ul>
<% @appointments.each do |appointment|%>
  <li><%= appointment.customer.name %> has an appointment with <%= appointment.hairdresser %>
<% end %>
</ul>