<h1> Upcoming Appointments </h1>


    
  <% @appointments.each do |appointment| %>
    <%= appointment.hairdresser.name if appointment.hairdresser %>
    <p><%= link_to "Your appointment", appointment_path(appointment) %></p>
    <%end%>
  