<h1> Appointment Confirmation </h1>


<p>Hi <%= @appointment.customer.name %></p>

Appointment confirmed with <%= @appointment.hairdresser.name %> on <%= @appointment.datetime.strftime("On %m/%d/%Y") %> at <%= @appointment.datetime.strftime("at %I:%M%p") %></p>